---
layout: default
---


<!-- this page is corresponding to the 'about' page -->

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <div id = "img-content-side" class="side content" style="text-align:center; padding-top: 5px;" onContextMenu="return false;">
                <img src="../avatar.png" alt="avatar" width=36% height=auto >
            </div>

            <!-- Content -->
            <div class="side content">
                <div style="text-align:center;">
                    Guangjing Wang
                    <a href='https://clustrmaps.com/site/1bt63'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=300&t=n&d=dHdnU5c0UwNw2cYA_ZLwAMIEdXjQNVpKaNpv0CLyNVE' style="display: none;"/></a>
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
